@model FoodManager.Models.IngredientGroup
@using FoodManager.Infrastructure.Enums
@using FoodManager.Infrastructure.Helpers
@{
    ViewBag.Title = "Nuevo grupo de ingrediente";
    ViewBag.ButtonSave = Html.ButtonSave();
}

@using (Html.BeginForm(ActionType.Create.ToString(), EntityType.IngredientGroup.ToString(), FormMethod.Post, new {id = "Form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading"> Información general</div>
        <div class="panel-body">
            <div id="IngredientGroupContent">
                @Html.Partial("_Form", Model)
            </div>
        </div>
    </div>
    @Html.ButtonsForm()
}
