@model FoodManager.Models.Company
@Html.HiddenFor(m => m.Id)

<div class="form-group">
    @Html.LabelFor(m => m.Name, "Nombre", new { @class = "col-lg-2 control-label" })
    <div class="col-md-6 input-group required-field-block">
        <span class="input-group-addon"><i class="fa fa-building"></i></span>
        @Html.TextBoxFor(m => m.Name, new
        {
            @class = "form-control",
            data_role = "none",
            placeholder = "Nombre",
            id = "Name",
            maxlength = "70",
            Autocomplete = "off"
        })
        <div class="required-icon iconPointer">
            <div class="text">*</div>
        </div>
    </div>
    <span class="col-lg-2 control-label clearSpan"></span>
    <span class="col-lg-6 validateCustom" id="NameMessage"></span>
</div>