@model FoodManager.Models.Disease
@using FoodManager.Infrastructure.Enums
@using FoodManager.Infrastructure.Helpers
@{
    ViewBag.Title = "Editar enfermedad";
    ViewBag.ButtonSave = Html.ButtonSave();
}

@using (Html.BeginForm(ActionType.Update.ToString(), EntityType.Disease.ToString(), FormMethod.Post, new {id = "Form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading"> Información general</div>
        <div class="panel-body">
            <div id="DiseaseContent">
                @Html.Partial("_Form", Model)
            </div>
        </div>
    </div>
    @Html.ButtonsForm()
}