@using FoodManager.Infrastructure.Constants

<div class="centered">
    <div id="SystemName">@SystemConstants.AppName</div>

    <div id="Comment">
        Para Bepensa tu salud es importante<br />
        “Hoy es un buen día para iniciar un estilo de vida activo y saludable, selecciona tu menú de acuerdo a tus necesidades energéticas”
    </div>

    <div class="clock">
        <div id="Date"></div>
        <ul>
            <li id="hours">00</li>
            <li id="point">:</li>
            <li id="min">00</li>
            <li id="point">:</li>
            <li id="sec">00</li>
        </ul>
    </div>
</div>