@using FoodManager.Infrastructure.Enums
@using FoodManager.Infrastructure.Settings
@{
    ViewBag.Title = "Cambiar contraseña";
    ViewBag.Subtitle = SessionSettings.RetrieveUserName;
}

@using (Html.BeginForm(ActionType.ChangePassword.ToString(), EntityType.User.ToString(), FormMethod.Post, new {id = "Form"}))
{
    <div class="panel panel-default">
        <div class="panel-heading"> Cambiar contraseña</div>
        <div class="panel-body">
            <div id="UserContent">
                @Html.Hidden("UserName", SessionSettings.RetrieveUserName)
                @Html.Partial("_ChangePassword")
            </div>
        </div>
    </div>

    <div class='row margin-bottom-15' style="margin-left: 0">
        <div class='col-md-12'>
            <button type="submit" id="ChangePassword" class='btn btn-success pull-left'>Actualizar</button>
            <a id="CleanPassword" class='btn btn-warning pull-left margin-left-10' data-role='none'>Limpiar campos</a>
        </div>
    </div>
}
